<main>
  <div>
    <label for="model">Model: </label>
    <br />
    <input type="text" id="model" [(ngModel)]="model" />
    <br />
    <label for="price">Price: </label>
    <br />
    <input type="number" id="price" [(ngModel)]="price" />
    <br />
    <button
      class="p-2 my-2 font-bold text-white bg-blue-500 rounded-md active:scale-95"
      (click)="add()"
      [disabled]="!model || price <= 0"
    >
      Add Laptop
    </button>
  </div>
  <table class="border-2 border-black">
    <thead>
      <tr>
        <th class="px-4 border-2 border-black">No.</th>
        <th class="px-4 border-2 border-black">Model</th>
        <th class="px-4 border-2 border-black">Price</th>
        <th class="px-4 border-2 border-black">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (laptop of laptopList; track $index) {
      <tr>
        <td class="border-2 border-black">{{ $index + 1 }}</td>
        <td class="border-2 border-black">
          {{ laptop.model }}
          <button
            (click)="editField($index, 'model', laptop.model)"
            class="mx-2 font-bold bg-gray-300 border border-black rounded-md active:scale-95"
          >
            🖋
          </button>
        </td>
        <td class="border-2 border-black">
          {{ laptop.price }}
          <button
            (click)="editField($index, 'price', laptop.price)"
            class="mx-2 font-bold bg-gray-300 border border-black rounded-md active:scale-95"
          >
            🖋
          </button>
        </td>
        <td class="border-2 border-black">
          <div class="py-2">
            <button
              (click)="deleteLaptop($index)"
              class="px-2 mx-2 font-bold bg-gray-300 border border-black rounded-md active:scale-95"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
