<main>
  <div>
    <label for="name">Name: </label>
    <br />
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="year">Year: </label>
    <br />
    <input type="string" id="year" [(ngModel)]="year" />
    <br />
    <label for="section">Section: </label>
    <br />
    <input type="text" id="section" [(ngModel)]="section" />
    <br />
    <button
      class="bg-blue-500 text-white font-bold rounded-md p-2 my-2 active:scale-95"
      (click)="add()"
    >
      Add to student
    </button>
  </div>
  <table class="border-2 border-black">
    <thead>
      <tr>
        <th class="border-2 border-black px-4">No.</th>
        <th class="border-2 border-black px-4">Name</th>
        <th class="border-2 border-black px-4">Year</th>
        <th class="border-2 border-black px-4">Section</th>
        <th class="border-2 border-black px-4">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (student of studentList; track $index) {
      <tr>
        <td class="border-2 border-black">{{ $index + 1 }}</td>
        <td class="border-2 border-black">
          {{ student.name }}
          <button
            (click)="editField($index, 'name', student.name)"
            class="bg-gray-300 mx-2 font-bold rounded-md border border-black active:scale-95"
          >
            🖋
          </button>
        </td>
        <td class="border-2 border-black">
          {{ student.year }}
          <button
            (click)="editField($index, 'year', student.year)"
            class="bg-gray-300 mx-2 font-bold rounded-md border border-black active:scale-95"
          >
            🖋
          </button>
        </td>
        <td class="border-2 border-black">
          {{ student.section }}
          <button
            (click)="editField($index, 'section', student.section)"
            class="bg-gray-300 mx-2 font-bold rounded-md border border-black active:scale-95"
          >
            🖋
          </button>
        </td>
        <td class="border-2 border-black">
          <div class="py-2">
            <button
              (click)="deleteStudent($index)"
              class="bg-gray-300 mx-2 px-2 font-bold rounded-md border border-black active:scale-95"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
