<main>
  <div>
    <label for="eventName">Event Name: </label>
    <br />
    <input type="text" id="eventName" [(ngModel)]="eventName" />
    <br />
    <button
      class="p-2 my-2 font-bold text-white bg-blue-500 rounded-md active:scale-95"
      (click)="add()"
      [disabled]="!eventName"
    >
      Add Event
    </button>
  </div>
  <table class="border-2 border-black">
    <thead>
      <tr>
        <th class="px-4 border-2 border-black">No.</th>
        <th class="px-4 border-2 border-black">Event Name</th>
        <th class="px-4 border-2 border-black">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList; index as i">
        <td class="border-2 border-black">{{ i + 1 }}</td>
        <td class="border-2 border-black">
          {{ event.eventName }}
          <button
            (click)="editField(i, 'eventName', event.eventName)"
            class="mx-2 font-bold bg-gray-300 border border-black rounded-md active:scale-95"
          >
            🖋
          </button>
        </td>
        <td class="border-2 border-black">
          <button
            (click)="deleteEvent(i)"
            class="px-2 mx-2 font-bold bg-gray-300 border border-black rounded-md active:scale-95"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
