<main>
  <div>
    <label for="toolName">Tool Name: </label>
    <br />
    <input type="text" id="toolName" [(ngModel)]="toolName" />
    <br />
    <button
      class="p-2 my-2 font-bold text-white bg-blue-500 rounded-md active:scale-95"
      (click)="add()"
      [disabled]="!toolName"
    >
      Add Developer Tool
    </button>
  </div>
  <table class="border-2 border-black">
    <thead>
      <tr>
        <th class="px-4 border-2 border-black">No.</th>
        <th class="px-4 border-2 border-black">Tool Name</th>
        <th class="px-4 border-2 border-black">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tool of toolList; index as i">
        <td class="border-2 border-black">{{ i + 1 }}</td>
        <td class="border-2 border-black">
          {{ tool.name }}
          <button
            (click)="editField(i, 'name', tool.name)"
            class="mx-2 font-bold bg-gray-300 border border-black rounded-md active:scale-95"
          >
            🖋
          </button>
        </td>
        <td class="border-2 border-black">
          <button
            (click)="deleteTool(i)"
            class="px-2 mx-2 font-bold bg-gray-300 border border-black rounded-md active:scale-95"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
