@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border-2 border-black;
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tab {
  background-color: rgb(59 130 246);
  color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-family: "arial";
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
