<main>
  <div>
    <label for="name">Furniture Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="price">Price: </label>
    <input type="number" id="price" [(ngModel)]="price" />
    <br />
    <button (click)="add()">Add to furniture list</button>
  </div>
  <div>
    <h1>Furniture List</h1>
    @if( furnitureList.length === 0){
    <h2>-Furniture list is empty-</h2>
    }@else{
    <ol>
      @for( furniture of furnitureList; track $index){
      <li [style.marginBottom]="'20px'">
        Furniture Name: {{ furniture.name }} <br />
        Price: ${{ furniture.price }}
      </li>
      }
    </ol>
    }
  </div>
</main>
